/*A media query lets you apply CSS only when a particular condition is true.*/
/* The below CSS apply if screesn width is less than or equal to 768px*/
@media (max-width: 768px) {
    body {
        background-color: lightgray;
    }
}
.responsive-test {
    font-size: 24px;
}

@media (max-width: 768px) {
    .responsive-test {
        font-size: 16px;
    }
}
/*Relative units*/
/*Here using direct px will not adjust to changing sizes of screen*/
/*Therefore we can try relative measures like % which is percentage of containing/parent block */
/*Similarly vw 1vw = 1% of viewport width*/
/*Sam with vh 1vh = 1% of viewport height*/
.responsive-box {
    width: 80vw; /*80%;*/ /*1000px;*/
    height: 10vh; /*200px;*/
    border: 2px solid black;

}
/*rem- for text size meaning it take value based on root html i.e. if root size is 16px = 1rem then 2rem = 32px*/
.responsive-box {
    font-size: 2rem;
}
/*We can mark max-width so that the box dont become overly large when screen size is increased because of 80%*/
/*Also we use margin with auto so that the content remains at center even during screen change*/
.content-box {
    width: 80%;
    max-width:600px;
    margin: 20px auto;
    border: 2px solid black;
    padding: 20px;
}
/*To make the text not overflow when window size is changed we can use ellipsis property*/
.responsive-box {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*The Items dont align well during windows change so we change fixed values to reslative*/
.flex-layout {
    display: flex;
    gap: 20px;
    width: 90%; /*900px;*/
}

/*But here if the each item has 280px also might not work since its fixed so we can make it a relative value using flex*/
.flex-item {
    flex: 1; 
    /*width: 280px;*/
    border: 2px solid black;
    padding: 20px;
}
/*Now we can add flex-wrap to push non fitting values to next line*/
.flex-layout {
    display: flex;
    gap: 20px;
    width: 90%;
    flex-wrap: wrap;
}
/*However before the items move to next line they may shrink to very small size so we can use flex-basis to give initial size*/
.flex-item {
    flex: 1 1 200px;/*grow shrink basis*/
    border: 2px solid black;
    padding: 20px;
}
/*Giving fixed values to images also crop the image when window size is reduced so we give relative values*/
.image-container {
    width: 80%;
    border: 2px solid black;
    margin: 20px;
}
.image-container img {
    width: 100%; /*800px;*/
}
/*Generally we use max-width and auto height to make the original size of image adapt to screen or window size so that if image size is 400*200 then if width becomes 200 then height automatically becomes 100*/
/*The difference between width and max-width is if only width is given 100% then no matter  what the size of image is it occupies the parents 100% but giving only max-width without width will tell the browser that if image size is only 200px in a container of 800px then keep the same as original but when we resize the window to 100px then image should also take 100px(100%of parent) instead of getting cropped*/
/*To test above change width property in above css to 500px from 100%*/
img {
    max-width: 100%;
    height: auto;
}
/*This CSS is for desktop*/
.main-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
/*Now we change the same based for mobile screen*/
/* @media (max-width: 768px) {
    .main-nav {
        flex-direction: column;
        height: auto;
        gap: 10px;

    }
} */
/*Instead of chnaging direction change to wrap*/
@media (max-width: 768px) {
    .main-nav {
        flex-wrap: wrap;
        height: auto;/* Override the fixed desktop height */
    }
}
/*Practise*/
.dashboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.dashboard-card{
    border: 2px solid black;
}
.dashboard-main{
    grid-column:1/-1;
    border: 2px solid black;
    
}
@media (max-width: 768px){
    .dashboard {
        grid-template-columns: 1fr;
    }

    .dashboard-main {
        grid-column: auto;
    }


}